.event-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input[type='text'],
    input[type='date'] {
      min-width: 90%;
      max-width: 90%;
    }
    input[type='number'] {
      max-width: 15rem;
      min-width: 15rem;
    }
  }
  &__cta {
    &__btn {
      padding: 1rem 1.6rem;
      display: block;
    }
  }
}
