@import '../../../../assets/scss/', '../../../../assets/scss/animations.scss';

.user-login {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 100%;
  z-index: 5000;
  &__cta {
    &__login-btn {
      padding: 1.6rem 3.2rem;
      min-width: 100%;
      border: none;
      border-radius: 0.6rem;
      background-color: getColor('accentDark');
      color: getColor('primaryLight');
      font-family: 'Montserrat', sans-serif;
      display: block;
    }
  }
}
