@import '../../assets/scss/';
.form-input {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  &__label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    padding: 0.8rem;
  }
  &__input {
    display: block;
    outline: none;
    border: none;
    border-bottom: 2px solid getColor('primaryDark');
    border-left: 2px solid getColor('primaryDark');
    padding: 0.8rem;
    background-color: getColor('primaryLight');
    min-width: 100%;
  }
}
