@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Rokkitt:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rokkitt', serif;
  font-size: 1.6em;
  line-height: 1.7;
  position: relative;
}
html,
body {
  height: 100%;
}
