@import '../../assets/scss/';

.landing {
  background-color: getColor('primaryLight');
  &__events {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &__filter {
      padding: 0 3.2rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      i {
        cursor: pointer;
        font-weight: bold;
      }
    }
  }
}
