@import '../../assets/scss/', '../../assets/scss/utils';
.outer-modal {
  .modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($color: getColor('primaryDark'), $alpha: 0.3);
    overflow-y: auto;
  }

  .inner-modal-close {
    background-color: getColor('primaryLight');
    color: getColor('primaryDark');
    min-width: 100%;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 3.2rem;
  }
  .modal-wrapper {
    background-color: getColor('primaryLight');
    z-index: 1001;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
