@import '../../../../assets/scss/', '../../../../assets/scss/utils.scss', '../../../../assets/scss/animations.scss';
.auth-modal {
  padding: 0 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__text {
    padding: 1.6rem;
    max-width: 50ch;
    text-align: center;
    min-height: 15rem;
  }
}
