@import '../../../../assets/scss/', '../../../../assets/scss/utils.scss', '../../../../assets/scss/animations.scss';
.auth-modal {
  max-width: 32rem;
  min-width: 32rem;
  padding: 0 1.6rem;
  &__text {
    padding: 1.6rem;
    max-width: 50ch;
    text-align: center;
  }
}
