@import '../../../../assets/scss/utils', '../../../../assets/scss/animations';
.user-events-modal {
  min-height: 100vh;
  &__cta {
    padding: 0 3.2rem;
    margin-bottom: 1rem;
  }
  &__attending-events {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
