@import '../../../../assets/scss/utils';
.user-events-modal {
  height: 100%;
  &__cta {
    padding: 0 3.2rem;
    border-bottom: 2px dashed getColor('primaryDark');
    margin-bottom: 1rem;
  }
  &__attending-events {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
