@import '../../../assets/scss/';
.search-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: getColor('primaryLight');
  padding: 1.6rem 3.2rem;

  &__icon {
    // background-color: getColor('accentLight');
    // color: getColor('primaryDark');
    padding: 0 1.6rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border: 2px solid getColor('primaryDark');
  }

  input {
    border-left: none;
    border-top: 2px solid getColor('primaryDark');
    border-right: 2px solid getColor('primaryDark');
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    min-height: 4.6rem;
  }
}
